<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAu-Xkl7GC-l_BwxR3JkLOABy_ia87HIF0</string>
	<key>GCM_SENDER_ID</key>
	<string>1074683716266</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>colacolac.com.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-hien-first-flutter-app</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-hien-first-flutter-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074683716266:ios:222d40114168ebc827e6d3</string>
</dict>
</plist>